
a {
    text-decoration: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
     background-color: transparent; 
}
.mapContainer {
    position: absolute;
    top: 60px;
    left: 176px;
    bottom: 0;
    right: 0;
    }