<div ibmRow style="height: calc(100vh - 48px);">
  <div ibmCol [columnNumbers]="{'lg': 4}">
    <fieldset class="bx--fieldset">
      <legend class="bx--label">Checkbox</legend>
      <ibm-checkbox
        [checked]="true"
        [hideLabel]="false"
        (change)="onChange($event)">
        Checkbox
      </ibm-checkbox>
      <ibm-checkbox
        [indeterminate]="true"
        (change)="onChange($event)"
        [hideLabel]="false"
        (indeterminateChange)="onIndeterminateChange($event)">
        Indeterminate checkbox
      </ibm-checkbox>
      <ibm-checkbox
        [disabled]="true"
        (change)="onChange($event)"
        [hideLabel]="false"
        (indeterminateChange)="onIndeterminateChange($event)">
        Disabled checkbox
      </ibm-checkbox>
    </fieldset>
  </div>

  <div ibmCol [columnNumbers]="{'lg': 12}">
    <app-map-canvas></app-map-canvas>
  </div>
</div>
